@import "variables/variable";

.sos_features {
    max-height: 100%;
    @include background('../image/bg3_desktop.jpg');
    background-size: cover;
    background-position: 50%;
}

.feature_container {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40%;
    padding-top: 20%;
}

.feature_header_question {
    margin: 0;
    font-family: 'Bebas Neue';
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
}

.feature_answer {
    font-family: 'Bebas Neue';
    font-size: 33px;
    line-height: 33px;
    letter-spacing: 3px;
    margin: 0;
}

.sos_feature_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    padding-top: 10%;
}

.sos_feature_item {
    font-family: 'Bebas Neue';
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 2px;
    color: #FFB548;
    padding-bottom: $base-padding;
}

.survive_at_costs {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 16px;
    text-align: justify;
    color: #FFFFFF;
    padding-bottom: $base-padding * 2;
}

@media (min-width: 800px) {

    .sos_features {
        background-size: cover;
        background-position: 17% 0;
    }

    .feature_container {
        max-width: 1114px;
        margin-left: auto;
        margin-right: auto;
        padding-right: $base-padding;
        padding-top: 169px;
        padding-left: 50%;
        font-size: 24px;
    }
    
    .feature_header_question {
        line-height: 24px;
        letter-spacing: 2px;
    }

    .feature_answer {
        font-size: 80px;
        line-height: 80px;
        letter-spacing: 3px;
    }

    .sos_feature_list {
        padding-bottom: 258px;
    }

    .sos_feature_item {
        font-size: 36px;
        line-height: 36px;
        letter-spacing: 2px;
    }


    .survive_at_costs {
        font-size: 18px;
        line-height: 22px;
        text-align: justify;
    }
}