@import "variables/variable";

.sos_features {
    max-height: 100%;
    // background-size: 100%;
    @include background('../image/bg3_desktop.jpg');
    background-position: 30%;
    // min-height: 515px;
}

.feature_container {
    max-width: 1114px;
    min-height: 515px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40%;
    padding-top: 20%;
    background-image: radial-gradient(38.45% 34.77% at 31.45% 40.62%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(4, 5, 6, 0.520671) 25.99%, rgba(6, 7, 8, 0.739601) 65.03%, #080A0B 99.74%);
}

.sos_features_header {
    padding-left: $base-padding * 3;
}

.feature_header_question {
    margin: 0;
    font-family: 'Bebas Neue';
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
}

.feature_answer {
    font-family: 'Bebas Neue';
    font-size: 33px;
    line-height: 33px;
    letter-spacing: 3px;
    margin: 0;
}

.sos_feature_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    padding-top: 10%;
    padding-bottom: 23px;
}

.sos_feature_item {
    font-family: 'Bebas Neue';
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 2px;
    color: #FFB548;
    // padding-bottom: $base-padding;
}

.survive_at_costs {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 16px;
    text-align: justify;
    color: #FFFFFF;
    // padding-bottom: $base-padding * 2;
}

details {
    padding-left: 3rem;
    position: relative;
}

details[open] > .summay::before {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    border: 1px solid #FFFFFF;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0rem;
    left: -2rem;
    z-index: 1;
}

details::after {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0.5rem;
    left: 1.55rem;
    z-index: 2;
}

details[open]::after {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0.5rem;
    left: 1.55rem;
    z-index: 2;
}

details:last-child::after {
    height: 0;
    bottom: 0;
}


.summay {
    position: relative;
}

.summay::before {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 0rem;
    left: -2rem;
    z-index: 2;
}

summary::-webkit-details-marker {
    display: none;
}

@media (min-width: 800px) {

    .sos_features {
        background-size: cover;
        background-position: 17% 0;
    }

    .feature_container {
        max-width: 1114px;
        margin-left: auto;
        margin-right: auto;
        padding-right: $base-padding;
        padding-top: 169px;
        padding-left: 50%;
        font-size: 24px;
        background-image: radial-gradient(105.45% 100.77% at 0.45% 68.62%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(4, 5, 6, 0.520671) 25.99%, rgba(6, 7, 8, 0.739601) 65.03%, #080A0B 99.74%);
    }

    // radial-gradient(105.45% 100.77% at 0.45% 68.62%, hsl(0deg 0% 100% / 0%) 0%, hsl(0deg 0% 0% / 0%) 0%, hsl(210deg 20% 2% / 52%) 25.99%, hsl(210deg 14% 3% / 74%) 65.03%, hsl(200deg 16% 4%) 99.74%)
    
    .feature_header_question {
        line-height: 24px;
        letter-spacing: 2px;
    }

    .feature_answer {
        font-size: 80px;
        line-height: 80px;
        letter-spacing: 3px;
    }

    .sos_feature_list {
        padding-bottom: 258px;
    }

    .sos_feature_item {
        font-size: 36px;
        line-height: 36px;
        letter-spacing: 2px;
        line-height: 22px;
    }

    .survive_at_costs {
        font-size: 18px;
        line-height: 22px;
        text-align: justify;
    }
}