// From _variables.scss:
$fonts: (
  (
    family: 'Open Sans',
    file: 'OpenSans-Regular',
    weight: 400,
    style: normal,
  ),

  (
    family: 'Open Sans',
    filename: 'OpenSans-Bold',
    weight: 700,
    style: normal,
  ),

  (
    family: 'Bebas Neue',
    filename: 'BebasNeue-Regular',
    weight: 400,
    style: normal,
  ),
);

@each $font in $fonts {
  @font-face {
    font-family: map-get($font, 'family');
    font-weight: map-get($font, 'weight');
    font-style: map-get($font, 'style');
    src: local(map-get($font, 'family'));
    src: url('./fonts/map-get($font, "filename").woff2') format(woff2),
      url('./fonts/map-get($font, "filename").woff2') format(woff2);
    font-style: map-get($font, 'normal');
  }

}

