@import "variables/variable";

.footer {
    background-color: rgb(0, 0, 0);
}

.footer_container {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
    padding: $base-padding;
    padding-top: 62px;
    padding-bottom: 62px;
}

.about_the_game {
    padding-bottom: 28px;
    border-bottom: 1px solid rgba(225, 255, 255, 0.5);
}

// .game_logo {
//     height: 100px;
//     margin: 0;
//     text-align: center;
// }

.sos_logo__link {
    height: 100px;
    padding: $base-padding;
    background-position: 50%;
    background-size: 50px 50px;
}

.game_description {
    padding: 0;
    // padding-bottom: 42px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    grid-template-areas: 
        "main about creature creature"
        "system system system quote"
    ;
}

.game_description__list_item:nth-of-type(1) {
    grid-area: main;
}

.game_description__list_item:nth-of-type(2) {
    grid-area: about;
}

.game_description__list_item:nth-of-type(3) {
    grid-area: creature;
}

.game_description__list_item:nth-of-type(4) {
    grid-area: system;
}

.game_description__list_item:nth-of-type(5) {
    grid-area: quote;
}

.social_media {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // padding-bottom: 28px;
}

.icon {
    height: 60px;
    color: transparent;
}

.facebook {
    @include background('../image/facebook.png')
}

.twitter {
    @include background('../svg/twitter_icon.svg')
}

.youtub {
    @include background('../svg/vector_icon.svg')
}

.messanger {
    @include background('../image/twitch.png')
}

.copyright_and_privacy {
    padding-top: 20px;
}

.copyright {
    font-size: 16px;
    line-height: 16px;
    mix-blend-mode: normal;
    opacity: 0.5;
    align-self: center;
}

.privacy {
    padding: 0;
    text-align: center;
}

.game_privacy {
    font-weight: 700;
    font-size: 12px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
}

.services {
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid;
    border-right: 1px solid;
}

@media (min-width: 960px) {
    .footer_container {
        padding-bottom: 0;
    }

    .about_the_game {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
    //    padding: 0;
       align-items: flex-end;
       padding-top: $base-padding * 2;
       padding-bottom: $base-padding * 2;
   } 

   .game_description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .copyright_and_privacy {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 0;
    }

    .email_form {
        max-width: 3767px;
    }

    .privacy {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .game_description__list_item {
        padding-left: $base-padding * 2;
    }

    .privacy__list_item {
        padding-left: $base-padding;
    }
}