@import "variables/variable";

.masthead {
    @include background('../image/bg_desktop.jpg');
    background-size: cover;
    background-position: 32% 50%;
    text-align: $text-align;
}

.masthead_header {
    max-width: 1114px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding: $base-padding;

}

.all_costs {
    margin: $base-margin * 0;
    font-family: Bebas Neue;
    font-size: 33px;
    line-height: 33px;
    letter-spacing: 3px;
}

.sos_experience {
    font-family: Bebas Neue;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px
}

.buy_now_on_steam {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    padding:  $base-padding;
    background-color: rgb(225, 181, 72);
    border-radius: 5px;
    border: none;
}

.call_action {
    padding-top: 180px;
    padding-bottom: 175px;
}

.sos_story {
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#radio {
    background-color: transparentize($color: #000000, $amount: 0);
}

@media (min-width: 800px) {
    .masthead {
        background-position: 50% 50%;
        background-size: cover;
    }

    .radio_button {
        display: none;
    }

    .sos_story {
        list-style: $list-style;
        display: block;
        text-align: center;
    }

    .all_costs {
        font-size: 80px;
        line-height: 80px;
        letter-spacing: 3px;
    }
    
    .sos_experience {
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 2px;
    }

    .buy_now_on_steam {
        padding-left: $base-padding * 3;
        padding-right: $base-padding * 3;
        padding-top: $base-padding * 1.5;
        padding-bottom: $base-padding 1.5;
    }
}