// backgroung mixing
@mixin background($imgPath, $position:50% 50%, $repeat: no-repeat, $size: cover) {
    background: {
        image: url($imgPath);
        position: $position;
        repeat: $repeat;
        size: $size
    }
}

// Font face
$fonts: (
  (
    family: 'Open Sans',
    filename: 'OpenSans-Regular',
    local1: 'Open-Sans',
    local2: 'OpenSans',
    weight: 400,
    style: normal,
  ),

  (
    family: 'Open Sans',
    filename: 'OpenSans-Bold',
    local1: 'Open-Sans',
    local2: 'OpenSans',
    weight: 700,
    style: normal,
  ),

  (
    family: 'Bebas Neue',
    filename: 'BebasNeue-Regular',
    local1: 'Bebas-Neue',
    local2: 'BebasNeue',
    weight: 400,
    style: normal,
  ),
);

@each $font in $fonts {
    @font-face {
      font-family: map-get($font, 'family');
      font-weight: map-get($font, 'weight');
      font-style: map-get($font, 'style');
      src: local(map-get($font, 'family')),
        local(map-get($font, 'local1')),
        local(map-get($font, 'local2')),  
        url('../fonts/#{map-get($font, "filename")}.woff2') format("woff2"),
        url('../fonts/#{map-get($font, "filename")}.woff') format("woff");
    }
  }

// List
@mixin list {
    list-style: none;
    padding: 0;
}

// Display flex
@mixin displayFlex($display: flex, $direction: row, $justifyContent: space-between) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justifyContent;
}

@mixin container {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
}

// Anchor
$anchor-text-decoration: none;

