@import "variables/variable";

.quotes {
    background-color: rgb(0, 0, 0);
}

.qoute_container {
    max-width: 1114px;
    margin-right: auto;
    margin-left: auto;
    padding: $base-padding;
}

.qoute_header {
    padding-bottom: 56px;
}

.quote_header_question {
    margin: $base-margin * 0;
    font-family: 'Bebas Neue';
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
}

.quote_header_answer {
    margin: $base-margin * 0;
    font-family: 'Bebas Neue';
    font-size: 33px;
    line-height: 33px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.qoute_one {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 16px;
    text-align: justify;
}

.quote_one_desc {
    margin: $base-margin * 0;
    padding-bottom: 24px;
}

.more_testimonial_quotes {
    padding: 10px;
    border: none;
    background-color: rgb(225, 181, 72);
}