@import "variables/variable";

.sos {
    width: 100%;
    position: absolute;
}

.sos_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $base-padding;
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
}

.sos_logo {
    margin: $base-margin * 0;

}

.sos_logo__link {
    color: transparent;
    @include background('../image/logo_large.png');
}

.language_form {
    align-self: center;
}

.languages {
    border-top: none;
    border-bottom: none;
    border-left: none;
    padding: $base-padding * 0;
    align-self: center;
}

.language {
    border: none;
    background-color: transparent;
    color: $base-color;
    text-align: center;
}

.language_option {
    background-color: black;
}

.list_menu {
    align-self: center;
}

.sos_menu::-webkit-details-marker {
    display: none;
}

.sos_menu {
    color: transparent;
    @include background('../svg/menu_icon.svg');
    margin: $base-margin * 0;
    background-position: 50%;
    border-right: 1px solid;  
}

.sos_nav {
    padding-left: 5px;
}

.sos_list__item > a {
    color: white;
}

.sos_menu_nav {
    display: none;
}

@media (min-width: 800px) {
    .language_form::after {
        content: '';
        width: 30px;
        height: 30px;
        @include background('../svg/steam.svg');
        @include background('../svg/xbox.svg');
    }

    .header_icons {
        order: 1;
    }

    .language_form {
        order: 3;
    }

    .sos_menu {
        display: none;
    }

    .list_menu {
        display: none;
    }

    .sos_menu_nav {
        order: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: $list-style;
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        align-self: center;
    }

    .sos_list__item {
        padding-right: $base-padding * 2;
    }

    // .language {
    //     display: block;
    //     text-align: end;
    // }

    .sos_menu {
        display: none;
    }

    // .header_icons {
    //     display: block;
    //     background-image: url('../svg/xbox.svg'), url('../svg/steam.svg');
    //     background-repeat: no-repeat, no-repeat;
    // }
}