@import "variable";

.sos_description {
    @include background('../image/bg_image 2.png');
    background-size: 100%;  
    background-color: rgba(0, 0, 0, 100%);
}

// .description {
//     padding-top: $base-padding * 2;
//     padding-bottom: 360px;
//     // @include background('../image/srcreenshot 1.png', '../image/srcreenshot 1.png', '../image/srcreenshot 1.png')
// }

.heading_question {
    margin: $base-margin * 0;
}

.sos_answer {
    margin: $base-margin * 0;
}

.sos_description_header {
    padding-top: $base-padding * 2;
    padding-left: $base-padding;
    padding-bottom: $base-padding;
    // padding-right: $base-padding;
}

.line_separation {
    border-bottom: 2px solid;
    margin-inline-start: $base-margin;
    padding-bottom: $base-padding * 5;

}

.sos_explanation {
    padding-left: $base-padding * 4;
    padding-right: $base-padding * 2;
}

// .screenshot {
//     padding: $base-padding * 2;
//     // position: absolute;
//     background-color: black;
// }

// .screenshot_img {
//     width: 100%;
// }

// .screenshot1 {
//     z-index: 0;
// }

// .screenshot2 {
//     z-index: -1;
// }

// .screenshot3 {
//     z-index: -2;
// }