@import "variable";

.sos {
    width: 100%;
    position: absolute;
}

.sos_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $base-padding;
}

.sos_logo {
    margin: $base-margin * 0;
}

.sos_logo__link {
    color: transparent;
    @include background('../svg/game_logo.svg');
}

.sos_nav {
    display: none;
}

.languages {
    border-top: none;
    border-bottom: none;
    border-left: none;
    padding-block-start: 10px;
    padding-inline-start: $base-padding * 7;
}

.language {
    border: none;
    background-color: transparent;
    color: $base-color;
    text-align: center;
}

.sos_menu {
    color: transparent;
    @include background('../svg/menu_icon.svg');
    margin: $base-margin * 0;
    background-position: 50%;
    border-right: 1px solid;   

}