@import "variables/variable";

.sos_description {
    @include background('../image/bg_image 2.png');
    background-size: cover;
    background-position: 100%;
    background-color: rgba(0, 0, 0, .8);
}

.description {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
    // padding-bottom: calc(689px / 2);
    position: relative;
}

.sos_description_header {
    padding-top: 70px;
    border-bottom: 2px solid;
    margin-left: $base-margin;
}

.heading_question {
    margin: $base-margin * 0;
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.sos_answer {
    font-family: 'Bebas Neue';
    font-size: 33px;
    line-height: 33px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-right: $base-padding * 2;
}

.sos_explanation {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 16px;
    text-align: justify; 
    padding-top: 27px;
    padding-bottom: $base-padding * 3;
    padding-left: $base-padding * 2;
    padding-right: $base-padding;

}

.screenshot_container {
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
}

.sceenshot {
     max-width: calc(37px * 2 + 225px);
    height: 283px;
    padding: 37px;
    position: relative;
}

.screenshot_image {
    width: 100%;
    border-radius: 5px;
}

.screeshot1 {
    position: absolute;
    max-width: 225px;
    height: 273px;
    z-index: 3;
}

.screeshot2 {
    position: absolute;
    max-width: 225px;
    height: 273px;
    z-index: 2;
    transform: scale(0.9);
    left: 20%;
}

.screeshot3 {
    position: absolute;
    max-width: 225px;
    height: 273px;
    z-index: 1;
    transform: scale(0.8);
    left: 28%;
}

.switch2 {
    width: 10px;
    height: 25px;
    position: absolute;
    left: 95%;
    top: 170px;
}