@import "variables/variable";

.sos {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sos_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
}

.sos_logo {
    margin: $base-margin * 0;

}

.sos_logo__link {
    color: transparent;
    @include background('../image/logo_large.png');
    order: 1;
}

.language_form {
    align-self: center;
    order: 2;
}

.languages {
    border-top: none;
    border-bottom: none;
    border-left: none;
    padding: $base-padding * 0;
    align-self: center;
}

.language {
    border: none;
    background-color: transparent;
    color: $base-color;
    text-align: center;
}

.language_option {
    background-color: black;
}

.list_menu {
    align-self: center;
}

.input_checkbox {
    visibility: hidden;
}

.menu_navigation {
    width: 120px;
    height: 100vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0px 0px 50px rgba(0,0,0,.25);
    z-index: 1;
    background-color: #FFFFFF;
    padding-inline-start: 2rem;
    padding-block-start: 1rem;
    transform: translateY(-110%);
    transition: transform .2s;
}

input[type="checkbox"]:checked ~ .sos .menu_navigation {
    transform: translateY(-5%);
}

.sos_menu_nav {
    padding: 0;
}

.sos_list__item {
    padding-top: $base-padding;
}

.menu_link {
    padding: 0;
    color: black;
    text-transform: uppercase;
}

.sos_menu {
    color: transparent;
    @include background('../svg/menu_icon.svg');
    margin: $base-margin * 0;
    align-self: center;
    background-position: 50%;
    border-right: 1px solid;
    order: 3;  
}

.sos_nav {
    padding-left: 5px;
}

// .sos_menu_nav {
//     display: none;
// }

@media (min-width: 800px) {
    .sos {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
    }

    .sos_logo__link {
        order: 1;
    }

    .menu_navigation {
        position: unset;
        order: 2;
        background-color: transparent;
        transform: translateY(0);
        width: 50%;
        height: 0;
        padding: $base-padding * 0;
    }

    .sos_menu_nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .language_form {
        order: 3;
    }

    .menu_link {
        color: #FFFFFF;
    }
    

    .language_form::after {
        content: '';
        width: 30px;
        height: 30px;
        @include background('../svg/steam.svg');
        @include background('../svg/xbox.svg');
    }

    .header_icons {
        order: 1;
    }

    .language_form {
        order: 3;
    }

    .list_menu[open] {
        display: block;
    }

    .list_menu#detail-content {
        display: block;
    }

    .sos_menu {
        display: none;
    }

    .list_menu[open] > .sos_nav {
        order: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: $list-style;
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        align-self: center;
    }

    .sos_list__item {
        padding-right: $base-padding * 2;
    }

}