@import "variable";

.sos {
    width: 100%;
    position: absolute;
}

.sos_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $base-padding;
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
}

.sos_logo {
    margin: $base-margin * 0;
}

.sos_logo__link {
    color: transparent;
    @include background('../svg/game_logo.svg');
}

.sos_nav {
    display: none;
}

.languages {
    border-top: none;
    border-bottom: none;
    border-left: none;
    padding-block-start: $base-padding;
    padding-inline-start: $base-padding * 7;
}

.language {
    border: none;
    background-color: transparent;
    color: $base-color;
    text-align: center;
}

.sos_menu {
    color: transparent;
    @include background('../svg/menu_icon.svg');
    margin: $base-margin * 0;
    background-position: 50%;
    border-right: 1px solid;  
}

@media (min-width: 968px) {
    .sos_nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: $list-style;
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        text-align: right;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }
    .sos_list__item {
        padding-right: $base-padding * 2;
    }

    .languages {
        padding-inline-start: $base-padding * 0;
    }

    .language {
        display: block;
        text-align: end;
    }
}