@import "variable";


.sos_logo {
    margin: $base-margin * 0;
}

.sos_logo__link {
    color: transparent;
    @include background('../svg/game_logo.svg');
}

.sos_nav {
    display: none;
}

#languages {
    border: none;
}

.sos_menu {
    color: transparent;
    @include background('../svg/menu_icon.svg');
    margin: $base-margin * 0;
}