@import "variables/variable";

.sos_description {
    background-color: rgba(0, 0, 0, 0.8);
    @include background('../image/bg_image 2.png');
    background-size: cover;
    background-position: 100%;
}

.description {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-image: radial-gradient(38.45% 34.77% at 31.45% 40.62%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(4, 5, 6, 0.520671) 25.99%, rgba(6, 7, 8, 0.739601) 65.03%, #080A0B 99.74%);
}

.sos_description_header {
    padding-top: 70px;
}

.heading_question {
    margin: $base-margin * 0;
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.line_separation {
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
}

.sos_answer {
    font-family: 'Bebas Neue';
    font-size: 33px;
    line-height: 33px;
    letter-spacing: 3px;
}

.sos_explanation {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 16px;
    text-align: justify; 
    padding-top: 27px;
    padding-bottom: $base-padding * 3;
    padding-left: $base-padding * 2;
    padding-right: $base-padding;

}

.screenshot_container {
    max-width: 100%;
    max-height: 100%;
    padding: 12px 38px;
}

.sceenshot {
    max-width: 100%;
    padding: 0;
    margin: 0;
    max-height: 100%;
    padding-bottom: calc(100% * 273 / 249);
    position: relative;
}

.screenshot_image {
    height: 100%;
    border-radius: 5px;
}

.screeshot1 {
    object-fit: cover;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    right: calc(100% * 24 / 249);
}

.screeshot2 {
    object-fit: cover;
    position: absolute;
    z-index: 2;
    left: calc(100% * (12 * 2.4) / 249);
    top: 0;
    transform: scale(calc(249 / 273));
    right: calc(100% * 12/ 249);
}

.screeshot3 {
    object-fit: cover;
    position: absolute;
    z-index: 1;
    transform: scale(calc(249 / (273 + 12)));
    left: calc(100% * (12 * 1.5) / 249);
    top: 0;
    right: calc(100% * (12 * 2) / 249);
}

.switch2 {
    width: 10%;
    height: 10%;
    position: absolute;
    left: 95%;
    top: 50%;
    right: 0;
    object-fit: cover;
}

@media (min-width: 800px) {
    .sos_description {
        background-image: radial-gradient(38.45% 34.77% at 31.45% 40.62%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(4, 5, 6, 0.520671) 25.99%, rgba(6, 7, 8, 0.739601) 65.03%, #080A0B 99.74%);
    }

    .description {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
                    "heading screenshot"
                    "social screenshot"
                    ;
        padding-top: 187px;
        padding-bottom: 141px;
    }

    .sos_description_header {
        grid-area: heading;
        position: relative;
    }

    .sos_explanation {
        grid-area: social;
        padding-left: 50%;
    }

    .screenshot_container {
        grid-area: screenshot;
    }

    .sos_answer {
        font-family: 'Bebas Neue';
        font-size: 80px;
        line-height: 80px;
        letter-spacing: 3px;
        margin: 0;
    }

    .line_separation {
        position: absolute;
    }
    // .sos_explanation {
    //     padding-right: 50%;
    // }
}