@import "variables/variable";

.newsletter {
    background-color: rgb(26, 25, 23);
    max-height: 523px;
    box-sizing: border-box;
    @include background('../image/bg_subs.jpg');
    // linear-gradient(to right, hsl(231deg 0% 0% / 0%), hsl(407deg 100% 0% / 73%)),
            
    background-size: 50%;
    background-position: 0 calc(50% / 2);
}

.newsletter_container {
    padding: $base-padding;
    padding-top: 62px;
    position: relative;
    background-image: radial-gradient(38.45% 34.77% at 31.45% 40.62%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(4, 5, 6, 0.520671) 25.99%, rgba(6, 7, 8, 0.739601) 65.03%, #080A0B 99.74%);
}

.newsletter_heading {
    grid-area: heading;
}

.newsletter_heading__question {
    margin: $base-margin * 0;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.newsletter_heading__main {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.newsletter_paragrap {
    font-size: 13px;
    line-height: 19px;
    grid-area: paragraph;
}

.email_form {
    grid-area: form;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 3px;
}

.subscribe_button {
    background-color: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 2.94008px;
    text-align: center;
    grid-area: button;
}

.game_subscribe {
    max-width: 189px;
    padding-left: 30%;
}

.mayan_raul_pic {
    max-width: 230px;
    max-height: 358px;
}

.email_form {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: $base-margin;
    border: none;
    background-color: rgba(151, 151, 151, 0.3);
}

.email {
    border: none;
    background-color: transparent;
    color: rgb(255, 181, 72);
}

.subscribe_button {
    width: 100%;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 3px;
    border: none;
    margin-top: $base-margin;
}

@media (min-width: 800px) {
    .newsletter {
        max-height: 523px;
        box-sizing: border-box;
        @include background('../image/bg_subscribe.jpg');
        // linear-gradient(to right, hsl(231deg 0% 0% / 0%), hsl(407deg 100% 0% / 73%)),
                
        background-size: 50%;
        background-position: 0 calc(50% / 2);
    }
    
    // .newsletter_container {
    //     display: flex;
    //     flex-direction: row-reverse;
    //     padding-right: $base-padding * 10;
    // }
    
    .game_subscribe {
        max-width: 677px;
        padding-top: 250px;
    }

    .mayan_raul_pic {
        max-width: 446px;
        padding-right: 147px;
    }

    .newsletter_paragrap {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 22px;
    }

    .form {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: $base-padding * 2;
    }

    .email_form {
        align-self: center;
        margin-top: $base-margin;
        margin-left: $base-margin * 12;
    }    

    .subscribe_button {
        width: 260px;
    }
}