// Image
@mixin background($imgPath, $position:0 0, $repeat: no-repeat) {
    background: {
        image: url($imgPath);
        position: $position;
        repeat: $repeat;
    }
}

// Link colour
$link-color: transparent;

// Padding and margin
$base-padding: 1rem;
$base-margin: 1rem;

// Font faces
