$fonts: (
  (
    family: 'Open Sans',
    file: 'OpenSans-Regular',
    weight: 400,
    style: normal,
  ),

  (
    family: 'Open Sans',
    filename: 'OpenSans-Bold',
    weight: 700,
    style: normal,
  ),

  (
    family: 'Bebas Neue',
    filename: 'BebasNeue-Regular',
    weight: 400,
    style: normal,
  ),
);
