$fonts: (
  (
    family: 'Open Sans',
    filename: 'OpenSans-Regular',
    local1: 'Open-Sans',
    local2: 'OpenSans',
    weight: 400,
    style: normal,
  ),

  (
    family: 'Open Sans',
    filename: 'OpenSans-Bold',
    local1: 'Open-Sans',
    local2: 'OpenSans',
    weight: 700,
    style: normal,
  ),

  (
    family: 'Bebas Neue',
    filename: 'BebasNeue-Regular',
    local1: 'Bebas-Neue',
    local2: 'BebasNeue',
    weight: 400,
    style: normal,
  ),
);
