@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2); }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2); }

@font-face {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
  src: local("Bebas Neue");
  src: url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2), url('./fonts/map-get($font, "filename")-regular.woff2') format(woff2); }

body {
  color: #FFFFFF;
  margin: 0rem;
  font-family: 'bebas neue';
  font-weight: 400; }

a {
  text-decoration: none; }

.sos {
  width: 100%;
  position: absolute; }

.sos_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem; }

.sos_logo {
  margin: 0rem; }

.sos_logo__link {
  color: transparent;
  background-image: url("../svg/game_logo.svg");
  background-position: 0 0;
  background-repeat: no-repeat; }

.sos_nav {
  display: none; }

.languages {
  border-top: none;
  border-bottom: none;
  border-left: none;
  padding-block-start: 10px;
  padding-inline-start: 7rem; }

.language {
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  text-align: center; }

.sos_menu {
  color: transparent;
  background-image: url("../svg/menu_icon.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  margin: 0rem;
  background-position: 50%;
  border-right: 1px solid; }

.masthead {
  background-image: url("../image/bg_1.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center; }

.all_costs {
  margin: 0rem;
  font-family: Bebas Neue;
  font-size: 33px;
  line-height: 33px;
  letter-spacing: 3px; }

.sos_experience {
  font-family: Bebas Neue;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px; }

.buy_now_on_steam {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  background-color: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 3px solid; }

.masthead_main {
  max-height: 571px;
  padding: 1rem; }

.call_action {
  padding-top: 180px;
  padding-bottom: 175px; }

.sos_story {
  padding-bottom: 50px; }

.sos_description {
  background-image: url("../image/bg_image 2.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: black; }

.heading_question {
  margin: 0rem; }

.sos_answer {
  margin: 0rem; }

.sos_description_header {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-bottom: 1rem; }

.line_separation {
  border-bottom: 2px solid;
  margin-inline-start: 1rem;
  padding-bottom: 5rem; }

.sos_explanation {
  padding-left: 4rem;
  padding-right: 2rem; }
