.sos_logo {
  margin: 0rem; }

.sos_logo__link {
  color: transparent;
  background-image: url("../svg/game_logo.svg");
  background-position: 0 0;
  background-repeat: no-repeat; }

.sos_nav {
  display: none; }

#languages {
  border: none; }

.sos_menu {
  color: transparent;
  background-image: url("../svg/menu_icon.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  margin: 0rem; }

:root {
  --padding: 1rem;
  --margin: 1rem; }
