.sos_logo__link {
  color: transparent;
  background-image: url("../svg/game_logo.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  padding: 1rem; }

.sos_nav {
  display: none; }

.sos_menu {
  color: transparent;
  background-image: url("../svg/menu_icon.svg");
  background-repeat: no-repeat; }
